:root{
    --fundo: #1C1C1C;
    --cartao-frente: #00008B;
    --cartao-verso: #000080;
    --branco: #ffff;
    --preto: #000000;
    --destaque: #708090;
}

body{
    background-color: var(--fundo);
    margin: 0;
    color: var(--branco);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: large;
    text-decoration: dashed;
}

footer{
    background-color: var(--preto);
    color: var(--branco);
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
}